<nav class="nav-social navbar navbar-expand navbar- justify-content-center" style="background-color: #F662B6;">
  <div class="navbar-nav">
    {%- for item in social -%} 
    <a class="nav-item nav-link" target="_blank" href="{{item.url}}">
      <i class="nav-social-icon {{item.iconClass}} mr-2" style="color: #091E47;"></i>
      <span class="align-text-bottom text- d-none d-lg-inline" style="color: #091E47;">{{item.name}}</span>
    </a>
    {%- endfor -%}
  </div>
</nav>