---
layout: base
headerHeight: 7vh 
siteTitle: KQF-Pag3
---
<header class="site-header position-relative" style="width: auto; min-height: {{headerHeight}}; background-color: #B2F0C3; font-size: 25px;">
    <nav class="navbar navbar-light" >
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html" style="font-size: 30px;">Navbar</a>
            <form class="d-flex"> 
                <ul class="nav justify-content-end">

                    <li class="nav-item" style="border: 2px solid black; border-radius: 30px; padding:0px 20px; margin: 10px;">
                        <a class="nav-link active" aria-current="page" href="../page1/index.html" style="a:link text-decoration: none; color: white;">Playlists</a>
                    </li>

                    <li class="nav-item" style="border: 2px solid black; border-radius: 30px; padding:0px 20px; margin: 10px;"> 
                        <a class="nav-link" href="../page2/index.html" style="a:link text-decoration: none; color: white;">Podcasts</a>
                    </li>

                    <li class="nav-item" style="border: 2px solid black; border-radius: 30px; padding:0px 20px; margin: 10px;">
                        <a class="nav-link" href="#" style="a:link text-decoration: none; color: white;">Places</a>
                    </li>

                </ul>  
            </form>
        </div>
    </nav>
</header>


<body>
   <main class="container py-4">
       {{ content | safe }}
   </main>
   {% include "social-3.njk" %} 
</body>

