---
layout: baseHome
---
<main class="container py-4">
   {{ content | safe }}
</main>

<style>
body {background-color: #B2F0C3;}
h1 {color: #052500; padding: 250px 100px; font-size: 90px;}
.button {text-align: center; text-decoration: none; border: 2px solid black; padding: 10px; background-color: #29B547; color: white; margin: 5px 450px; position: relative; bottom: 125px; font-size: 30px;}
a:visited {text-decoration: none; color: white;}
a:hover, a:active { color: black;}
</style>